@import url(https://code.cdn.mozilla.net/fonts/fira.css);

body {
	margin: 0;
	font-size: 12pt;
	font-family: "Fira Sans", sans-serif;
	font-weight: 300;
}

header {
	background-color: rgb(244,247,248);
	font-size: 200%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-family: "Athelas", "Lucida Bright", Georgia, serif;
}

span.myname {
	margin-left: 1em;
}

div.page {
	max-width: 40em;
	margin: auto;
	padding-left: 1.25em;
	padding-right: 1.25em;
}

a:link {
	font-size: 100%;
	color: #000;
	text-decoration: none;
	border-bottom: #bfbfbf solid thin;
}

a:visited {
	font-size: 100%;
	color: #000;
	text-decoration: none;
	border-bottom: #bfbfbf solid thin;
}

h1 {
	font-size: 110%;
	font-weight: 400;
	padding-top: 1em;
	margin-bottom: .1em;
}

h1 + p {
	margin-top: .1em;
}

li {
	list-style-type: circle;
}

ul {
	padding-left: 0;
}
